{#
/**
 * @file evaluation.html.twig
 * Default theme implementation to present Evaluation data.
 *
 * This template is used when viewing Evaluation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_evaluation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('evaluation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
